<div class="content row fill">
    <div class="col-md-8">
        <app-map-display></app-map-display>
    </div>
    <div class="col-md-4 sidebar">
        <div class="search">
            <input type="text" class="form-control" id="search" placeholder="Search for a subsystem..."
                (keyup)="search($event);">
        </div>
        <div class="scroll-view">
            <app-inspector></app-inspector>
            <div class="footer">
                Made with <a href="https://github.com/Fanaen/subsystem-mapper">Subsystem mapper</a>
            </div>
        </div>

    </div>
</div>

<router-outlet></router-outlet>
