<div class="inspector" *ngIf="!isSearching || (selectedSystem || selectedSubsystem)">
    <button *ngIf="isSearching" type="button" class="btn btn-sm btn-primary float-right" (click)="select(null)">Return to search</button>
    <nav aria-label="breadcrumb" *ngIf="selectedSystem || selectedSubsystem">
        <div class="custom-breadcrumb">
            <span class="custom-breadcrumb-item" aria-current="page"
                *ngFor="let item of breadcrumb; let i = index">
                <button type="button"
                        [class]="'btn btn-sm btn-link ' + (i+1 == breadcrumb.length ? 'disabled' : '')"
                        (click)="select(item)">{{ item.name }}</button>
            </span>
        </div>
    </nav>
    <div *ngIf="selectedSystem">
        <div>
            <span class="badges">
                <span class="badge badge-pill badge-light">System</span>
            </span>
            <h2>{{selectedSystem.name}}</h2>
            <div class="metadata-display">
                <span class="label">Id:</span>&nbsp;<span class="value">{{selectedSystem.id}}</span><br>
                <span class="label">Repo:</span>&nbsp;<span class="value">{{selectedSystem.repo_name}}</span><br>
                <span class="label">Path:</span>&nbsp;<span class="value">{{selectedSystem.path}}</span>
            </div>
            <p>{{selectedSystem.description}}</p>

            <div *ngIf="selectedSystem.how_to.length > 0">
                <br>
                <h4>Related "how-to"</h4>
                <ul class="how-to">
                    <li *ngFor="let howTo of selectedSystem.how_to">
                        <a [href]="howTo.url" target="_blank" rel="noopener">{{ howTo.text }}</a>
                    </li>
                </ul>
            </div>

            <div *ngIf="selectedSystemSystems.length > 0">
                <br>
                <h4>Systems</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action"
                       *ngFor="let system of selectedSystemSystems"
                       (click)="selectSystem(system.id)">
                        <h5 class="mb-1">{{ system.name }}</h5>
                        <p class="mb-1" *ngIf="system.description">{{ system.description }}</p>
                    </a>
                </div>
            </div>

            <div *ngIf="selectedSystemSubsystems.length > 0">
                <br>
                <h4>Subsystems</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action"
                       *ngFor="let subsystem of selectedSystemSubsystems"
                       (click)="selectSubsystem(subsystem.id)">
                        <h5 class="mb-1">{{ subsystem.name }}</h5>
                        <p class="mb-1" *ngIf="subsystem.description">{{ subsystem.description }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="selectedSubsystem">
        <span class="badges">
            <span class="badge badge-pill badge-primary">Subsystem</span>
        </span>
        <h2>{{selectedSubsystem.name}}</h2>
        <div class="metadata-display">
            <span class="label">Id:</span>&nbsp;<span class="value">{{selectedSubsystem.id}}</span><br>
            <span class="label">Repo:</span>&nbsp;<span class="value">{{selectedSubsystem.repo_name}}</span><br>
            <span class="label">Path:</span>&nbsp;<span class="value">{{selectedSubsystem.path}}</span>
        </div>
        <p>{{selectedSubsystem.description}}</p>

        <div *ngIf="selectedSubsystem.how_to.length > 0">
            <br>
            <h4>Related "how-to"</h4>
            <ul class="how-to">
                <li *ngFor="let howTo of selectedSubsystem.how_to">
                    <a [href]="howTo.url" target="_blank" rel="noopener">{{ howTo.text }}</a>
                </li>
            </ul>
        </div>

        <div *ngIf="selectedSubsystem.dependencies.length > 0">
            <h4>Dependencies</h4>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action"
                   *ngFor="let dep of selectedSubsystem.dependencies"
                   (click)="selectSubsystem(dep.subsystem.id)">
                    <h5 class="mb-1">{{ getSubsystem(dep.subsystem).name }}</h5>
                    <p class="mb-1" *ngIf="dep.why"><strong>Why?</strong> {{ dep.why }}</p>
                </a>
            </div>
        </div>
    </div>

    <div *ngIf="!selectedSystem && !selectedSubsystem">
        <div class="card" *ngFor="let system of getSystemsWithParent(undefined)" (click)="selectSystem(system.id)">
            <div class="card-body">
                <h5 class="card-title">{{ system.name }}</h5>
                <p class="card-text">{{ system.description }}</p>
            </div>
        </div>
    </div>
</div>
<div class="inspector" *ngIf="isSearching">
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of searchResults"
            (click)="select(item)">
            <td>
                <span class="badge badge-pill badge-light" *ngIf="item.type == ObjectType.System">System</span>
                <span class="badge badge-pill badge-primary" *ngIf="item.type == ObjectType.Subsystem">Subsystem</span>
            </td>
            <td [innerHTML]="item.name"></td>
            <td [innerHTML]="item.description"></td>
        </tr>
        <tr *ngIf="searchResults.length == 0" class="no-item">
            <td class="table-warning" colspan="4"><strong>No result, sorry !</strong></td>
        </tr>
        </tbody>
    </table>
</div>

