<div class="inspector">
    <div class="card" *ngIf="selectedSystem">
        <div class="card-body">
            <h5 class="card-title">{{selectedSystem.name}}</h5>
            <p class="card-text">{{selectedSystem.description}}</p>
        </div>
    </div>

    <div class="card" *ngIf="selectedSubsystem">
        <div class="card-body">
            <h5 class="card-title">{{selectedSubsystem.name}}</h5>
            <p class="card-text">{{selectedSubsystem.description}}</p>

            <div *ngIf="selectedSubsystem.dependencies.length > 0">
                <br>
                <h6 class="card-subtitle">It requires :</h6>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action"
                       *ngFor="let dep of selectedSubsystem.dependencies"
                       (click)="selectSubsystem(dep.subsystem.id)">
                        <h5 class="mb-1">{{ getSubsystem(dep.subsystem).name }}</h5>
                        <p class="mb-1" *ngIf="dep.why"><strong>Why?</strong> {{ dep.why }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!selectedSystem && !selectedSubsystem">
        <h2>Subsystems</h2>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action"
               *ngFor="let subsystem of graph.subsystems"
               (click)="selectSubsystem(subsystem.id)">
                <h5 class="mb-1">{{ subsystem.name }}</h5>
                <p class="mb-1">{{ subsystem.description }}</p>
            </a>
        </div>
    </div>
</div>

