.inspector {
    margin: 20px;
}

.list-group {
    margin-top: 20px;
}

.badges {
    margin-top: 10px;
    float: right;
}

.custom-breadcrumb {
    margin: -10px 0 10px 0;

    .btn {
        font-size: 90%;
    }

    .custom-breadcrumb-item {
        &::before {
            content: " /";
            color: #333333;
        }

        &.active {

        }
    }
}

.metadata-display {
    font-family: monospace;
    font-size: 70%;
    color: #818181;
    background-color: #f5f5f5;
    margin: 10px -20px 10px -20px;
    padding: 5px 20px;

    overflow-x: auto;

    .label {
        font-weight: bold;
    }
    .value {
    }
}

.card {
    margin-bottom: 20px;
}

.no-item td {
    text-align: center;
}
