<div class="search">
    <form>
        <input type="text" class="form-control" id="search" placeholder="[Unimplemented] Search for a subsystem...">
    </form>
</div>
<div class="inspector">
    <nav aria-label="breadcrumb" *ngIf="selectedSystem || selectedSubsystem">
        <ol class="breadcrumb">
            <li [class]="'breadcrumb-item ' + (i+1 == breadcrumb.length ? 'active' : '')" aria-current="page"
                *ngFor="let item of breadcrumb; let i = index"
                (click)="select(item)">
                {{ item.name }}</li>
        </ol>
    </nav>
    <div *ngIf="selectedSystem">
        <div>
            <span class="badges">
                <span class="badge badge-pill badge-light">System</span>
            </span>
            <h2>{{selectedSystem.name}}</h2>
            <div class="id-display">
                <span class="label">Id:</span>&nbsp;<span class="id">{{selectedSystem.id}}</span>
            </div>

            <p>{{selectedSystem.description}}</p>

            <div *ngIf="selectedSystemSystems.length > 0">
                <br>
                <h4>Systems</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action"
                       *ngFor="let system of selectedSystemSystems"
                       (click)="selectSystem(system.id)">
                        <h5 class="mb-1">{{ system.name }}</h5>
                        <p class="mb-1" *ngIf="system.description">{{ system.description }}</p>
                    </a>
                </div>
            </div>

            <div *ngIf="selectedSystemSubsystems.length > 0">
                <br>
                <h4>Subsystems</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action"
                       *ngFor="let subsystem of selectedSystemSubsystems"
                       (click)="selectSubsystem(subsystem.id)">
                        <h5 class="mb-1">{{ subsystem.name }}</h5>
                        <p class="mb-1" *ngIf="subsystem.description">{{ subsystem.description }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="selectedSubsystem">
        <span class="badges">
            <span class="badge badge-pill badge-primary">Subsystem</span>
        </span>
        <h2>{{selectedSubsystem.name}}</h2>
        <div class="id-display">
            <span class="label">Id:</span>&nbsp;<span class="id">{{selectedSubsystem.id}}</span>
        </div>
        <p>{{selectedSubsystem.description}}</p>

        <div *ngIf="selectedSubsystem.dependencies.length > 0">
            <br>
            <h4>Dependencies</h4>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action"
                   *ngFor="let dep of selectedSubsystem.dependencies"
                   (click)="selectSubsystem(dep.subsystem.id)">
                    <h5 class="mb-1">{{ getSubsystem(dep.subsystem).name }}</h5>
                    <p class="mb-1" *ngIf="dep.why"><strong>Why?</strong> {{ dep.why }}</p>
                </a>
            </div>
        </div>
    </div>

    <div *ngIf="!selectedSystem && !selectedSubsystem">
        <div class="card" *ngFor="let system of getSystemsWithParent(undefined)" (click)="selectSystem(system.id)">
            <div class="card-body">
                <h5 class="card-title">{{ system.name }}</h5>
                <p class="card-text">{{ system.description }}</p>
            </div>
        </div>

<!--        &lt;!&ndash; This will be used for the search &ndash;&gt;-->
<!--        <h2>Subsystems</h2>-->
<!--        <div class="list-group">-->
<!--            <a href="#" class="list-group-item list-group-item-action"-->
<!--               *ngFor="let subsystem of graph.subsystems"-->
<!--               (click)="selectSubsystem(subsystem.id)">-->
<!--                <h5 class="mb-1">{{ subsystem.name }}</h5>-->
<!--                <p class="mb-1">{{ subsystem.description }}</p>-->
<!--            </a>-->
<!--        </div>-->
    </div>
</div>

