.search {
    padding: 20px;
    background-color: #ebebeb;
    //border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.inspector {
    margin: 20px;
}

.list-group {
    margin-top: 20px;
}

.badges {
    float: right;
}

.id-display {
    //text-align: right;
    font-family: monospace;
    font-size: 80%;
    color: #818181;
    margin-bottom: 10px;

    .label {
        font-weight: bold;
    }
    .id {
    }
}
