// The style of the svg graph

$stroke-width: 0.5px;
$hover-color: #0080c7;
$selected-color: #eb5c00;

#graph0 > polygon {
    fill: transparent;
}

.cluster {
    // System rect
    polygon {
        stroke-width: $stroke-width;
        stroke: #dddddd;

        fill-opacity: 0.1;
    }

    &.selected polygon {
        stroke: $selected-color;
    }

    // System name
    text {
        transition: fill 0.2s ease;
    }

    &:hover > text {
        fill: $hover-color;
    }
}

.node {
    // Subsystem rect
    polygon {
        stroke-width: $stroke-width;
    }

    &.selected polygon {
        stroke: $selected-color;
    }

    // Subsystem name
    text {
        transition: fill 0.1s ease;
    }

    &:hover text {
        fill: $hover-color;
    }
}
