
$stroke-width: 0.5px;
$hover-color: #0080c7;
$highlight-color: rgba(0, 128, 199, 0.4);
$selected-color: #eb5c00;

$primary:       $selected-color !default;
//$secondary:     $gray-600 !default;
//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-800 !default;

//$theme-colors: (
//    "primary": $selected-color
//);
